@{
    ViewData["Title"] = "EngrafoCA";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center input-group">
    <form id="createDocumentationForm" asp-action="Create" asp-controller="Documentations" method="post">
        <input type="text" name="Title" placeholder="Title" class="form-control" />

        <input type="text" name="Category" placeholder="Category" class="form-control" />
        <input type="text" name="Template" placeholder="Template" class="form-control" />


        <input type="text" placeholder="Content" class="form-control" />
        <input type="checkbox" name="Read Only" />
        <input type="checkbox" name="Hidden" />



        <button class="btn btn-outline-primary" type="submit">Create</button>
    </form>
</div>


